html,
body {
    height: 100%;
}

body {
    background-color: #A5A58D;
    background-image: url('../images/pexels-rudolf-jakkel-418831.jpg');
    background-repeat: no-repeat;
    font-family: 'Shadows Into Light', cursive;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
/* TODO: See if object-fit: cover is needed */
    
}

h1 {
    font-size: 500%;
    font-weight: bolder;
    text-align: center;
    margin: 2% 0 0;
    text-transform: uppercase;
    color: #FFE8D6;
}

button {
    font-family : inherit;
}

p {
    font-weight: bold;
    font-size: 110%;
}

span {
    font-size: 200%;
}

/* styling div info */
#info {
    margin-left: 6%;
}

/* Styling div game board */
#game {
    height: auto;
    width: 32rem;
    background-color: rgba(165, 165, 141, 0.8);
    position: relative;
    margin: auto;
    box-shadow: 0 10px 60px 0 rgba(0,0,0, .25);
    border-radius: 0.5rem;
}

#board {
    width: 28rem;
    height: 28rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
}

.tile-btn {
    width: 9rem;
    height: 9rem;
    border: none;
    background-color: 'rgb(221, 190, 169)';
}

/* Styling start button */
#start-btn {
    border: 3px solid black;
    border-radius: 0.5rem;
    /* background-color: rgba(165, 165, 141, 0.9);
    box-shadow: 0 10px 25px 0 rgba(0,0,0, .25); */
    border: none;
    background: none;
    color: black;
    font-size: 400%;
    font-weight: bold;
    position: absolute;
    padding: 2%;
    top: 39%;
    right: 33%;
}

/* styling div score */
.scores {
    display: inline-block;
    margin-right: 12%;
    margin-top: 1%;
}

#scoreTextPlayer {
    margin-left: 12%;
}

#scoreTextX {
    color: #60463B;
}

#scoreTextO {
    color: #3C4030;
}