html,
body {
    height: 100%;
}

body {
    background-color: #A5A58D;
    background-image: url('../images/pexels-rudolf-jakkel-418831.jpg');
    background-repeat: no-repeat;
    font-family: 'Shadows Into Light', cursive;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
/* TODO: See if object-fit: cover is needed */
    
}

h1 {
    font-size: 500%;
    font-weight: bolder;
    text-align: center;
    margin: 2% 0 0;
}

button {
    font-family : inherit;
}

/* styling div info */
#info {
    margin-left: 3%;
}

/* Styling div game board */
#game {
    height: auto;
    width: 32rem;
    background-color: #A5A58D;
    position: relative;
    margin: auto;
    box-shadow: 0 10px 60px 0 rgba(0,0,0, .25);
 
}

#board {
    width: 28rem;
    height: 28rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
}

.tile-btn {
    width: 9rem;
    height: 9rem;
    border: none;
    background-color: #FFE8D6;
}

/* Styling start button */
#start-btn {
    border: none;
    background: none;
    color: black;
    font-size: 400%;
    font-weight: bold;
    position: absolute;
    top: 35%;
    right: 28%;
}

/* styling div score */
.scores {
    display: inline-block;
    margin-right: 12%;
    margin-top: 4%;
}

#scoreTextPlayerX {
    margin-left: 12%;
}